html,
body,
#root {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1d27; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #1a1d27 1%,
    #303548 100%
  ); /*FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #1a1d27 1%,
    #303548 100%
  ); /*Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #1a1d27 1%,
    #303548 100%
  ); /*W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  font-size: 16px;
}
* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 5px 20px;
  border-radius: 2px;
  color: #ffffff;
  background: #32384a;
  border: none;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

button:hover {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

input {
  color: #ffffff;
  background: transparent;
  outline: none;
  border: 1px solid #383e50;
  padding: 7px 10px;
  border-radius: 0px;
}

.hidden {
  display: none;
}
